h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5em;
    font-weight: 300;
}

.login-form {
  margin: 100px auto;
  width: 430px;
  padding: 20px 40px;
  border-color: #cdcdcd;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 25px !important;
}

